<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SchoolManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\Datastore.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SchoolManagement.Properties.Settings>
      <setting name="ComPortName" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="ComPortBaudrate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="RequestTimeCheckInterval" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="RootUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="RootPassword" serializeAs="String">
        <value>atek</value>
      </setting>
    </SchoolManagement.Properties.Settings>
  </userSettings>
</configuration>